#main-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/** First step container **/
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/** Second step container **/
#step-two-container canvas {
    margin: 0 auto;
    width: 100%;
    display: block;
    border: 1px solid #eee;
    padding: 10px;
}


.grid-size-wrapper {
    display: inline-block;
    width: 80px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.grid-button {
    background-color: transparent;
    display: inline-block;
    font-size: 1.4em;
    border: 0px;
    position: absolute;
    width: 34px;
    height: 34px;
}
.grid-button:focus {
    outline: 0;
}

.arrow-up:after {
    content: '\25B2';
}

.arrow-down:after {
    content: '\25BC';
}

.arrow-left:after {
    content: '\25C0';
}

.arrow-right:after {
    content: '\25B6';
}

.grid-size {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 0px;
    width: 44px;
    height: 44px;
    position: absolute;
}


.grid-or-sign {
    font-size: 2em;
    font-weight: bold;
    line-height: 100px;
}